# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production

# Next.js
.next/
out/

# Node
node_modules/

# Misc
.DS_Store
*.pem

# Build artifacts / dev logs
*.tsbuildinfo
dev-server*.log
_ul
